
  
  /* li a:hover:not(.active) {
    background-color: #2400f1;
  }
  
  .active {
    background-color: #04AA6D;
  } */

  
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 3px solid #8a36e9;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


  body {
    transition: background-color 0.3s ease;
}

/* .container {
    text-align: center;
    margin-top: 50px;
} */

/* .dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}
.nav{
    text-align: end;

}
#nav-element{
    padding-right: 10px;
} */





/* hero */
@media (max-width:600px) {

}

.main{
  height: 100%;
  width: 100%;
  position: relative;
}
.nav{
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  padding: 0;
  top: 0;
  justify-content: space-between;
}
.nav-part2{
   display: flex;
   gap: 4vw;
}